
p
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.centered
{
    text-align: center;
}

#guesses
{
    margin-left: auto;
    margin-right: auto;
}

.letter_button
{
    font-size: large;
    margin: 4px;
}
